*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Proxima Nova', sans-serif;
    background-color: #282B38;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 14px;
}